
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">List: All Things</h1>

      <rs-list config="thingListConfig">
        <rs-list-item config="thingListItemConfig" ng-repeat="thing in things">
          <div class="rs-list-primary">
              <div class="rs-tile-content" >
                <h2>{{thing.name}} - {{thing.userId}}</h2>
                <p  ng-click="closeAll()" ng-bind-html="thing.info"></p>
              </div>
          </div>
          <div class="rs-list-secondary">
          <div class="icon-container" rs-offcanvas="customOffcanvas">
              <i class="fa fa-align-justify"></i>
            </div>  
            <div class="icon-container" >
              <i class="fa fa-info"></i>
            </div>          
            <div class="icon-container">
              <button type="button" class="close" ng-click="deleteThing(thing)">&times;</button>
            </div>
          </div>
        </rs-list-item>
      </rs-list>

      <button rs-popover-trigger="myPopoverForm">Toggle Me!</button>

      <rs-popover-form id="myPopoverForm">
      <div class="rs-control-group">
        <label>Label</label>
        <div class="rs-controls">
          <input type="text">
        </div>
      </div>
    </rs-popover-form>

    </div>

  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
